<!--menu -->
<div class="section main-menu" id="menu">
    <div class="container">
        <div class="main-menu-bg">
            <h3 class="w3layouts-title text-center">our menu</h3>
            <div class="menu-info">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#testi" aria-controls="testi" role="tab" data-toggle="tab">Break fast</a>
                    </li>
                    <li role="presentation">
                        <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">lunch</a>
                    </li>
                    <li role="presentation">
                        <a href="#testi" aria-controls="profile" role="tab" data-toggle="tab">starters</a>
                    </li>
                    <li role="presentation">
                        <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">dinner</a>
                    </li>
                    <li role="presentation">
                        <a href="#testi" aria-controls="profile" role="tab" data-toggle="tab">burger</a>
                    </li>
                    <li role="presentation">
                        <a href="#profile" aria-controls="testi" role="tab" data-toggle="tab">pizza</a>
                    </li>
                    <li role="presentation">
                        <a href="#testi" aria-controls="profile" role="tab" data-toggle="tab">desserts</a>
                    </li>
                    <li role="presentation">
                        <a href="#profile" aria-controls="testi" role="tab" data-toggle="tab">beverages</a>
                    </li>


                </ul>
            </div>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="testi">
                    <div class="col-md-4 agileinfo-tab-content1">
                        <div class="menu-text-right1">
                            <div class="menu-title">
                                <h4>Congue oluptate </h4>

                            </div>
                            <div class="menu-price">
                                <h4 class="price-clr">$ 25</h4>
                            </div>
                            <div class="clearfix"></div>
                            <p> Nam libero tempore cum soluta nobis.</p>
                        </div>
                    </div>
                    <div class="col-md-4 agileinfo-tab-content1">
                        <div class="menu-text-right1">
                            <div class="menu-title">
                                <h4>Congue oluptate </h4>

                            </div>
                            <div class="menu-price">
                                <h4 class="price-clr">$ 35</h4>
                            </div>
                            <div class="clearfix"></div>
                            <p> Nam libero tempore cum soluta nobis.</p>
                        </div>
                    </div>
                    <div class="col-md-4 agileinfo-tab-content1">
                        <div class="menu-text-right1">
                            <div class="menu-title">
                                <h4>Congue oluptate </h4>

                            </div>
                            <div class="menu-price">
                                <h4 class="price-clr">$ 50</h4>
                            </div>
                            <div class="clearfix"></div>
                            <p> Nam libero tempore cum soluta nobis.</p>
                        </div>
                    </div>
                    <div class="col-md-4 agileinfo-tab-content1">
                        <div class="menu-text-right1">
                            <div class="menu-title">
                                <h4>Congue oluptate </h4>

                            </div>
                            <div class="menu-price">
                                <h4 class="price-clr">$ 80</h4>
                            </div>
                            <div class="clearfix"></div>
                            <p> Nam libero tempore cum soluta nobis.</p>
                        </div>
                    </div>
                    <div class="col-md-4 agileinfo-tab-content1">
                        <div class="menu-text-right1">
                            <div class="menu-title">
                                <h4>Congue oluptate </h4>

                            </div>
                            <div class="menu-price">
                                <h4 class="price-clr">$ 40</h4>
                            </div>
                            <div class="clearfix"></div>
                            <p> Nam libero tempore cum soluta nobis.</p>
                        </div>
                    </div>
                    <div class="col-md-4 agileinfo-tab-content1">
                        <div class="menu-text-right1">
                            <div class="menu-title">
                                <h4>Congue oluptate </h4>

                            </div>
                            <div class="menu-price">
                                <h4 class="price-clr">$ 30</h4>
                            </div>
                            <div class="clearfix"></div>
                            <p> Nam libero tempore cum soluta nobis.</p>
                        </div>
                    </div>
                    <div class="col-md-4 agileinfo-tab-content1">
                        <div class="menu-text-right1">
                            <div class="menu-title">
                                <h4>Congue oluptate </h4>

                            </div>
                            <div class="menu-price">
                                <h4 class="price-clr">$ 20</h4>
                            </div>
                            <div class="clearfix"></div>
                            <p> Nam libero tempore cum soluta nobis.</p>
                        </div>
                    </div>
                    <div class="col-md-4 agileinfo-tab-content1">
                        <div class="menu-text-right1">
                            <div class="menu-title">
                                <h4>Congue oluptate </h4>

                            </div>
                            <div class="menu-price">
                                <h4 class="price-clr">$ 45</h4>
                            </div>
                            <div class="clearfix"></div>
                            <p> Nam libero tempore cum soluta nobis.</p>
                        </div>
                    </div>
                    <div class="col-md-4 agileinfo-tab-content1">
                        <div class="menu-text-right1">
                            <div class="menu-title">
                                <h4>Congue oluptate </h4>

                            </div>
                            <div class="menu-price">
                                <h4 class="price-clr">$ 38</h4>
                            </div>
                            <div class="clearfix"></div>
                            <p> Nam libero tempore cum soluta nobis.</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div role="tabpanel" class="tab-pane" id="profile">
                    <div class="col-md-4 agileinfo-tab-content1">
                            <div class="menu-text-right1">
                                <div class="menu-title">
                                    <h4>Cillum fugiat</h4>

                                </div>
                                <div class="menu-price">
                                    <h4 class="price-clr">$ 58</h4>
                                </div>
                                <div class="clearfix"></div>
                                <p> Nam libero tempore cum soluta nobis.</p>
                            </div>
                        </div>
                        <div class="col-md-4 agileinfo-tab-content1">
                            <div class="menu-text-right1">
                                <div class="menu-title">
                                    <h4>Congue oluptate </h4>

                                </div>
                                <div class="menu-price">
                                    <h4 class="price-clr">$ 49</h4>
                                </div>
                                <div class="clearfix"></div>
                                <p> Nam libero tempore cum soluta nobis.</p>
                            </div>
                        </div>
                        <div class="col-md-4 agileinfo-tab-content1">
                            <div class="menu-text-right1">
                                <div class="menu-title">
                                    <h4>Cillum fugiat</h4>

                                </div>
                                <div class="menu-price">
                                    <h4 class="price-clr">$ 88</h4>
                                </div>
                                <div class="clearfix"></div>
                                <p> Nam libero tempore cum soluta nobis.</p>
                            </div>
                        </div>
                        <div class="col-md-4 agileinfo-tab-content1">
                            <div class="menu-text-right1">
                                <div class="menu-title">
                                    <h4>Congue oluptate </h4>

                                </div>
                                <div class="menu-price">
                                    <h4 class="price-clr">$ 64</h4>
                                </div>
                                <div class="clearfix"></div>
                                <p> Nam libero tempore cum soluta nobis.</p>
                            </div>
                        </div>
                        <div class="col-md-4 agileinfo-tab-content1">
                            <div class="menu-text-right1">
                                <div class="menu-title">
                                    <h4>Cillum fugiat </h4>

                                </div>
                                <div class="menu-price">
                                    <h4 class="price-clr">$ 35</h4>
                                </div>
                                <div class="clearfix"></div>
                                <p> Nam libero tempore cum soluta nobis.</p>
                            </div>
                        </div>
                        <div class="col-md-4 agileinfo-tab-content1">
                            <div class="menu-text-right1">
                                <div class="menu-title">
                                    <h4>Congue oluptate </h4>

                                </div>
                                <div class="menu-price">
                                    <h4 class="price-clr">$ 29</h4>
                                </div>
                                <div class="clearfix"></div>
                                <p> Nam libero tempore cum soluta nobis.</p>
                            </div>
                        </div>
                        <div class="col-md-4 agileinfo-tab-content1">
                            <div class="menu-text-right1">
                                <div class="menu-title">
                                    <h4>Cillum fugiat</h4>

                                </div>
                                <div class="menu-price">
                                    <h4 class="price-clr">$ 50</h4>
                                </div>
                                <div class="clearfix"></div>
                                <p> Nam libero tempore cum soluta nobis.</p>
                            </div>
                        </div>
                        <div class="col-md-4 agileinfo-tab-content1">
                            <div class="menu-text-right1">
                                <div class="menu-title">
                                    <h4>Congue oluptate </h4>

                                </div>
                                <div class="menu-price">
                                    <h4 class="price-clr">$ 48</h4>
                                </div>
                                <div class="clearfix"></div>
                                <p> Nam libero tempore cum soluta nobis.</p>
                            </div>
                        </div>
                        <div class="col-md-4 agileinfo-tab-content1">
                            <div class="menu-text-right1">
                                <div class="menu-title">
                                    <h4>Cillum fugiat</h4>

                                </div>
                                <div class="menu-price">
                                    <h4 class="price-clr">$ 73</h4>
                                </div>
                                <div class="clearfix"></div>
                                <p> Nam libero tempore cum soluta nobis.</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        </div>
<!--menu-->
