<h1>*Danh sách khách hàng đã đặt bàn</h1><br/>
<table class="table" >
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Mobile Number</th>
        <th scope="col">Email</th>
        <th scope="col">Number of Guests</th>
        <th scope="col">Date Of Arrival</th>
        <th scope="col">Time</th>
        <th scope="col">Additional Information (Optional)</th>
        <!-- <th scope="col">Images</th> -->
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers" >
        <th scope="row">{{customer.name}}</th>
        <td>{{customer.mobilenumber}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.number}}</td>
        <td>{{customer.date}}</td>
        <td>{{customer.time}}</td>
        <td>{{customer.desc}}</td>
        <!-- <td>{{customer.img}}</td> -->
        <!-- <td><button class="btn btn-primary"  routerLink="/customer/{{customer.id}}">Chi tiết</button></td> -->
        <td><button class="btn btn-primary" >Edit</button></td>
        <td><button class="btn btn-primary"  (click)="removeItem(customer.id)">Delete</button></td>
      </tr>
      </tbody>
  </table>
  <br/>
  <br/>
   
